<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<%= form_for :user, url: '/login' do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>

  <%= f.submit "Submit" %>

<% end %>
