<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.user_name %>
      <%= user.user_age%>
    </li>
  <% end %>
</ul>
<%= link_to "New User", new_user_path %>
